<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>{% block title %}{% endblock %} — Link Aggregator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        font-family: sans-serif;
      }
      body:not(.home) h1 {
        font-size: 1em;
      }
      h2, h3 {
        margin-top: 2.4em;
      }
      h3.route {
        font-size: 1.618em;
        border-bottom: 2px solid #def;
      }
      h3.route code {
        display: block;
        width: max-content;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      code, .code {
        background: #def;
        display: inline-block;
        font-size: 1em;
        padding: 0 0.3em;
        border-radius: 0.2em;
      }
      pre {
        box-sizing: border-box;
        margin-bottom: 0;
      }
      pre.code {
        padding: 0.5em 0.3em;
        max-width: 100%;
      }
      .stat {
        color: #f90;
        font-size: 1.618rem;
        font-weight: bold;
      }
      details {
        margin: 2em 0 3em;
      }
      footer {
        margin-top: 5em;
        font-size: 0.8em;
      }
    </style>
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <h1><a href="/">This</a> is a <a href="https://github.com/at-ucosm/links/tree/main/constellation">constellation 🌌</a> API server from <a href="https://github.com/at-ucosm">microcosm</a> ✨</h1>
    {% block content %}{% endblock %}

    <footer>
      <p>To get this response as JSON, set request header <code>Accept: application/json</code>.</p>
      <p><a href="/">Constellation API docs main</a></p>
    </footer>
  </body>
</html>
