{% extends "base.html.j2" %}
{% import "try-it-macros.html.j2" as try_it %}

{% block title %}Hello!{% endblock %}
{% block body_classes %}home{% endblock %}

{% block content %}
  <p>Every interaction in Bluesky and atproto at large tends to appear as a <em>link</em> from a new repository record to <em>somewhere</em>: liking a post creates a record with a link to the post, blocking a spammer creates a record with reference to their DID.</p>

  <p>This service attempts to aggregate all of these links, globally, from all content coming throught the firehose. It provides generic API endpoints to answer questions like <strong>how many likes does a post have</strong> and <strong>who follows a user</strong>.</p>

  <p>It is very much a <strong>work in progress</strong>. The database has not been backfilled, so any interactions occurring before its last reset will be missing.</p>


  <h2>Endpoints</h2>

  <h3 class="route"><code>GET /links</code></h3>

  <p>A list of records linking to a target.</p>

  <h4>Query parameters:</h4>

  <ul>
    <li><code>target</code>: required, must url-encode. Example: <code>at://did:plc:vc7f4oafdgxsihk4cry2xpze/app.bsky.feed.post/3lgwdn7vd722r</code></li>
    <li><code>collection</code>: required. Example: <code>app.bsky.feed.like</code></li>
    <li><code>path</code>: required, must url-encode. Example: <code>.subject.uri</code></li>
  </ul>

  <p style="margin-bottom: 0"><strong>Try it:</strong></p>
  {% call try_it::links("at://did:plc:vc7f4oafdgxsihk4cry2xpze/app.bsky.feed.post/3lgwdn7vd722r", "app.bsky.feed.like", ".subject.uri") %}


  <h3 class="route"><code>GET /links/distinct-dids</code></h3>

  <p>A list of distinct DIDs (identities) with links to a target.</p>

  <h4>Query parameters:</h4>

  <ul>
    <li><code>target</code>: required, must url-encode. Example: <code>at://did:plc:vc7f4oafdgxsihk4cry2xpze/app.bsky.feed.post/3lgwdn7vd722r</code></li>
    <li><code>collection</code>: required. Example: <code>app.bsky.feed.like</code></li>
    <li><code>path</code>: required, must url-encode. Example: <code>.subject.uri</code></li>
  </ul>

  <p style="margin-bottom: 0"><strong>Try it:</strong></p>
  {% call try_it::dids("at://did:plc:vc7f4oafdgxsihk4cry2xpze/app.bsky.feed.post/3lgwdn7vd722r", "app.bsky.feed.like", ".subject.uri") %}


  <h3 class="route"><code>GET /links/count</code></h3>

  <p>The total number of links pointing at a given target.</p>

  <h4>Query parameters:</h4>

  <ul>
    <li><code>target</code>: required, must url-encode. Example: <code>did:plc:vc7f4oafdgxsihk4cry2xpze</code></li>
    <li><code>collection</code>: required. Example: <code>app.bsky.graph.block</code></li>
    <li><code>path</code>: required, must url-encode. Example: <code>.subject</code></li>
    <li><code>cursor</code>: optional, see Definitions.</li>
  </ul>

  <p style="margin-bottom: 0"><strong>Try it:</strong></p>
  {% call try_it::links_count("did:plc:vc7f4oafdgxsihk4cry2xpze", "app.bsky.graph.block", ".subject") %}


  <h3 class="route"><code>GET /links/count/distinct-dids</code></h3>

  <p>The total number of DIDs (identities) with links to at a given target.</p>

  <h4>Query parameters:</h4>

  <ul>
    <li><code>target</code>: required, must url-encode. Example: <code>did:plc:vc7f4oafdgxsihk4cry2xpze</code></li>
    <li><code>collection</code>: required. Example: <code>app.bsky.graph.block</code></li>
    <li><code>path</code>: required, must url-encode. Example: <code>.subject</code></li>
    <li><code>cursor</code>: optional, see Definitions.</li>
  </ul>

  <p style="margin-bottom: 0"><strong>Try it:</strong></p>
  {% call try_it::dids_count("did:plc:vc7f4oafdgxsihk4cry2xpze", "app.bsky.graph.block", ".subject") %}


  <h3 class="route"><code>GET /links/all</code></h3>

  <p>Show all sources with links to a target, including linking record counts and distinct linking DIDs</p>

  <h4>Query parameters:</h4>

  <ul>
    <li><code>target</code>: required, must url-encode. Example: <code>did:plc:oky5czdrnfjpqslsw2a5iclo</code></li>
  </ul>

  <p style="margin-bottom: 0"><strong>Try it:</strong></p>
  {% call try_it::explore_links("did:plc:oky5czdrnfjpqslsw2a5iclo") %}


  <h3 class="route deprecated"><code>[deprecated] GET /links/all/count</code></h3>

  <p>The total counts of all links pointing at a given target, by collection and path.</p>

  <p>DEPRECATED: Use <code>GET /links/all</code> instead.</p>

  <h4>Query parameters:</h4>

  <ul>
    <li><code>target</code>: required, must url-encode. Example: <code>did:plc:oky5czdrnfjpqslsw2a5iclo</code></li>
  </ul>

  <p style="margin-bottom: 0"><strong>Try it:</strong></p>
  {% call try_it::links_all_count("did:plc:oky5czdrnfjpqslsw2a5iclo") %}


  <h2>Definitions</h2>

  <h3>Target</h3>

  <p>A DID like <code>did:plc:hdhoaan3xa3jiuq4fg4mefid</code>, or an AT-URI like <code>at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.feed.post/3lgu4lg6j2k2v</code>, or a URI like <code>https://example.com</code>.</p>

  <h3>Collection</h3>

  <p>A record NSID like <code>app.bsky.feed.like</code>.</p>

  <h3>Path</h3>

  <p>A (currently-very-very-hacky) json-path-ish representation of the source of a link in a record. Records may contain multiple links with different meanings, so this specifies which specific link is of interest. Like <code>.subject.uri</code>.</p>

  <h3>Cursor</h3>

  <p>Paged responses include a <code>cursor</code> property. When it's <code>null</code>, no more data is available. If it's not null, you can repeat the request with <code>&cursor=&lt;cursor&gt;</code> in the URL query to get the next set of responses.</p>


{% endblock %}
