{% extends "base.html.j2" %}
{% import "try-it-macros.html.j2" as try_it %}

{% block title %}All link counts{% endblock %}

{% block content %}

  {% call try_it::links_all_count(query.target) %}

  <h2>
    All links to <code>{{ query.target }}</code>
    {% if let Some(browseable_uri) = query.target|to_browseable %}
      <small style="font-weight: normal; font-size: 1rem"><a href="{{ browseable_uri }}">browse record</a></small>
    {% endif %}
  </h2>

  <h3>Links by collection and path:</h3>

<pre style="display: block; margin: 1em 2em" class="code">
{%- for (collection, collection_links) in links -%}
  <strong>{{ collection }}</strong>
  {%- for (path, count) in collection_links %}
  {{ path }}: <a href="/links?target={{ query.target|urlencode }}&collection={{ collection|urlencode }}&path={{ path|urlencode }}">{{ count }} links</a></li>
  {%- endfor %}

{% else -%}
  <em>No links indexed for this target</em>
{% endfor -%}
</pre>
  <details>
    <summary>Raw JSON response</summary>
    <pre class="code">{{ self|tojson }}</pre>
  </details>

{% endblock %}
