{% extends "base.html.j2" %}
{% import "try-it-macros.html.j2" as try_it %}

{% block title %}Link count{% endblock %}

{% block content %}

  {% call try_it::links_count(query.target, query.collection, query.path) %}

  <h2>
    Total links to <code>{{ query.target }}</code>
    {% if let Some(browseable_uri) = query.target|to_browseable %}
      <small style="font-weight: normal; font-size: 1rem"><a href="{{ browseable_uri }}">browse record</a></small>
    {% endif %}
  </h2>

  <p><strong><code>{{ total|human_number }}</code></strong> total links from <code>{{ query.collection }}</code> at <code>{{ query.path }}</code></p>

  <ul>
    <li>See these links at <code>/links</code>: <a href="/links?target={{ query.target|urlencode }}&collection={{ query.collection|urlencode }}&path={{ query.path|urlencode() }}">/links?target={{ query.target|urlencode }}&collection={{ query.collection|urlencode }}&path={{ query.path|urlencode }}</a></li>
    <li>See a count of distinct DIDs at <code>/links/count/distinct-dids</code>: <a href="/links/count/distinct-dids?target={{ query.target|urlencode }}&collection={{ query.collection|urlencode }}&path={{ query.path|urlencode() }}">/links?target={{ query.target|urlencode }}&collection={{ query.collection|urlencode }}&path={{ query.path|urlencode }}</a></li>
  </ul>

  <details>
    <summary>Raw JSON response</summary>
    <pre class="code">{{ self|tojson }}</pre>
  </details>

{% endblock %}
