{% extends "base.html.j2" %}

{% block title %}Links{% endblock %}

{% block content %}

  <h2>
    Links to <code>{{ query.target }}</code>
    {% if let Some(browseable_uri) = query.target|to_browseable %}
      <small style="font-weight: normal; font-size: 1rem"><a href="{{ browseable_uri }}">browse record</a></small>
    {% endif %}
  </h2>

  <p><strong>{{ total }} links</strong> from <code>{{ query.collection }}</code> at <code>{{ query.path }}</code></p>

  <form method="get" action="/links">
<pre class="code"><strong>GET</strong> /links
  ?target=     <input type="text" name="target" value="{{ query.target }}" placeholder="target" />
  &collection= <input type="text" name="collection" value="{{ query.collection }}" placeholder="collection" />
  &path=       <input type="text" name="path" value="{{ query.path }}" placeholder="path" />
  <button type="submit">get links</button></pre>
  </form>

  <p>See all links to this target <code>/links/all/count</code>: <a href="/links/all/count?target={{ query.target|urlencode }}">/links/all/count?target={{ query.target }}</a></p>

  <h3>Links, most recent first:</h3>

  {% for record in linking_records %}
    <pre style="display: block; margin: 1em 2em" class="code"><strong>DID</strong>:        {{ record.did().0 }} (<a href="/links/all/count?target={{ record.did().0|urlencode }}">DID links</a>)
<strong>Collection</strong>: {{ record.collection }}
<strong>RKey</strong>:       {{ record.rkey }}
-> <a href="https://atproto-browser-plus-links.vercel.app/at/{{ record.did().0 }}/{{ record.collection }}/{{ record.rkey }}">browse record</a></pre>
  {% endfor %}

  {% if let Some(c) = cursor %}
    <form method="get" action="/links">
      <input type="hidden" name="target" value="{{ query.target }}" />
      <input type="hidden" name="collection" value="{{ query.collection }}" />
      <input type="hidden" name="path" value="{{ query.path }}" />
      <input type="hidden" name="cursor" value={{ c|json|safe }} />
      <button type="submit">next page&hellip;</button>
    </form>
  {% else %}
    <button disabled><em>end of results</em></button>
  {% endif %}

  <details>
    <summary>Raw JSON response</summary>
    <pre class="code">{{ self|tojson }}</pre>
  </details>

{% endblock %}
